.app{
  display: flex;
  height: 100vh;
}

.half {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.output {
  height: 100%;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
